body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;}


@media(min-width : 768px){
    body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;}

#capa{
    margin: auto 0;
    padding: 350px;
}

#login{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100px;
    
    
}
#login input{
    width: 90%;
    height: 50px;
}

#login button{
    width: 30%;
    padding: 8px;
    background-color: aqua;

}

}

