body {
    background-color: brown;
}



#filtros {

    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

#filtros button {
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
    padding: 10px 20px; /* Ajuste para maior clareza visual */
    cursor: pointer;
}

/* Estilos para a barra de pesquisa */
#barraPesquisa {
    margin-bottom: 20px;
    text-align: center;
}

#campoPesquisa {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    font-size: 16px;
}

/* Estilos para o container e os cards */
#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajusta a distância entre os cards */
}

#container > article {
    width: 20rem;
    border: solid black 5px;
    border-radius: 5px;
    margin: .5rem;
    padding: .3rem;
    background-color: grey;
    box-sizing: border-box;
}

#container img {
    width: 100%;
    border-radius: 10px;
    border: solid black 3px;
}

#container p {
    text-align: center;
    color: aliceblue;
    font-weight: lighter;
}

#container h1 {
    color: black;
    text-align: center;
    font-weight: bold;
}
